.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px;
}

textarea {
    box-sizing: border-box;
    margin: 0px 0px 12px 0px;
    display: block;
    min-height: 120px;
    min-width: 360px;
    max-width: 360px;
    padding: 0.375rem 0.75rem;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

iframe {
    box-sizing: border-box;
    height: 640px;
    width: 360px;
    border: 2px solid #2c2f3b;
    border-radius: 0.5rem;
}